:root {
    --White: #FFFFFF;
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    height: 497px;
    width: 320px;
    display: flex;
    background-color: var(--White);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 0 40px;
}
.code-qr {
    height: 288px;
    width: 288px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 27%);
}
.content h1 {
    margin-top: 16px;
    font-size: 24px;
    color: var(--Dark-blue);
}
.content p {
    color: var(--Grayish-blue);
}

@media (min-width: 1100px) {
    .content {
        padding-top: 40px;
    }
}
